.ModalMenu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    color: black;
}
.ModalMenu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px;
    border-bottom: 1px solid rgba(0,0,0, 0.25);
}
#modal-menu-close {
    background: none;
    border: 0;
}
.ModalMenu__body {}
.ModalMenu__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.ModalMenu__item {
    border-bottom: 1px solid rgba(0,0,0, 0.25);
}
.ModalMenu__link {
    display: block;
    padding: 12px;
    color: black;
    text-decoration: none;
}

.ContactsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
}
.ContactsBlock__item {
    padding-left: 48px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 32px;
    max-width: 33.3333%;
    margin-bottom: 20px;
}
.ContactsBlock__item--phone {
    background-image: url('../img/phone.svg');
}
.ContactsBlock__item--email {
    background-image: url('../img/email.svg');
}
.ContactsBlock__item--location {
    background-image: url('../img/location.svg');
    min-width: 340px;
}
.ContactsBlock__header {
    margin: 0;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: normal;
    color: rgba(255,255,255, 0.75);
}

@media screen and (max-width: 970px) {
    .ContactsBlock__item, 
    .ContactsBlock__item.ContactsBlock__item--location {
        min-width: 100%;
        box-sizing: border-box;
    }
}

.HLBlock {
    display: flex;
    flex-wrap: wrap;
}
.HLBlock__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px;
    width: 33.3333%;
    box-sizing: border-box;
    min-width: 310px;
}
.HLBlock__item:nth-child(1) {
    background-color: #EE5D86;
}
.HLBlock__item:nth-child(2) {
    background-color: #EB1651;
}
.HLBlock__item:nth-child(3) {
    background-color: #6B0A25;
}
.HLBlock__header {
    margin: 0;
    margin-bottom: 20px;
}
.HLBlock__text {
    margin: 0;
    margin-bottom: auto;
}
.HLBlock__button {
    padding: 8px 20px;
    background: none;
    border: 1px solid white;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.12s;
}

.HLBlock__button:hover,
.HLBlock__button:focus {
    background-color: rgba(0,0,0, 0.15);
}
.HLBlock__button:active {
    background-color: rgba(0,0,0, 0.25);
}
.HLBlock__whRow {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255,255,255, 0.25);
}
@media screen and (max-width: 970px) {
    .HLBlock__item {
        width: 100%;
    }
    .HLBlock__text {
        margin-bottom: 20px;
    }
}
